learncsharp/XNWMS/WMS180721/XNWMS/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:8889/wms?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:8889/wms?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetWareCell_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWareCell" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWareCell_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWareCellResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadTasksResult_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadTasksResult" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadTasksResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadTasksResultResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProductWareCell_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductWareCell" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProductWareCell_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductWareCellResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProductLoadTasksResult_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductLoadTasksResult" />
  </wsdl:message>
  <wsdl:message name="IService1_ProductLoadTasksResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductLoadTasksResultResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UnloadTasksResult_InputMessage">
    <wsdl:part name="parameters" element="tns:UnloadTasksResult" />
  </wsdl:message>
  <wsdl:message name="IService1_UnloadTasksResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnloadTasksResultResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetWareCell">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetWareCell" message="tns:IService1_GetWareCell_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetWareCellResponse" message="tns:IService1_GetWareCell_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadTasksResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoadTasksResult" message="tns:IService1_LoadTasksResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoadTasksResultResponse" message="tns:IService1_LoadTasksResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductWareCell">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProductWareCell" message="tns:IService1_GetProductWareCell_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProductWareCellResponse" message="tns:IService1_GetProductWareCell_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductLoadTasksResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProductLoadTasksResult" message="tns:IService1_ProductLoadTasksResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProductLoadTasksResultResponse" message="tns:IService1_ProductLoadTasksResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnloadTasksResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UnloadTasksResult" message="tns:IService1_UnloadTasksResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UnloadTasksResultResponse" message="tns:IService1_UnloadTasksResult_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWareCell">
      <soap:operation soapAction="http://tempuri.org/IService1/GetWareCell" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTasksResult">
      <soap:operation soapAction="http://tempuri.org/IService1/LoadTasksResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductWareCell">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProductWareCell" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductLoadTasksResult">
      <soap:operation soapAction="http://tempuri.org/IService1/ProductLoadTasksResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnloadTasksResult">
      <soap:operation soapAction="http://tempuri.org/IService1/UnloadTasksResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://127.0.0.1:8889/wms" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>