learncsharp/XNWMS/WMS180724/XNWMS/Service References/ServiceReference1/wms1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetWareCell">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWareCellResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWareCellResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadTasksResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadTasksResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadTasksResultResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductWareCell">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductWareCellResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductWareCellResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLoadTasksResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLoadTasksResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductLoadTasksResultResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnloadTasksResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnloadTasksResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnloadTasksResultResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>