learncsharp/SocketAutoTestYX180523/SocketAutoTest/Connected Services/ServiceReference1/ModelService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AskOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WsNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AskOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AskOrdersResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CposCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CInvCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TaskType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Count" type="xs:float" />
        <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WsNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewTaskResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShelfNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WsNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SOri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EOri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveBackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveBackResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PickAgain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShelfNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WsNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SOri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="E" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PickAgainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PickAgainResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManuShelfTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShelfNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WsNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManuShelfTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManuShelfTaskResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dtOrders" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewTasksResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveOver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShelfNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PEnd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SOri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveOverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveOverResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="byt" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="Length" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CRCResult" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RomoteControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Function" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="WsNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RomoteControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RomoteControlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>